data/*
logs/
scratch/
.*.swp
.snakemake*

# Don't track module data
preprocessing/*

# Do track each module's scripts, Snakefiles, configurations, and READMEs
!*/scripts/
!*/Snakefile
!*/config.yaml
!*/cluster.yaml
!*/README.md

