# Ignore hidden swap and snakemake files
.*.swp
.snakemake*

# Don't track module data
data/*
logs/*
*.bed.gz
*.tbi

# Or symlinks to data
data

# Do track each module's scripts, Snakefiles, configurations, and READMEs
!*/scripts/
!*/Snakefile
!*/rules/
!*/config.yaml
!*/cluster.yaml
!*/README.md

# Ignore RdTest temp files
batch1_p1
pilot_p1

# Ignore scrap files
test*

# Ignore algorithm integration data directories
algorithm_integration/depth/*
algorithm_integration/pesr/*
