# Ignore hidden swap and snakemake files
.*.swp
.snakemake*

# Don't track module data
data/*
logs/*
preprocessing/*
integration/*
rdtest/*

# Or symlinks to data
data

# Do track each module's scripts, Snakefiles, configurations, and READMEs
!*/scripts/
!*/Snakefile
!*/config.yaml
!*/cluster.yaml
!*/README.md

# Ignore RdTest temp files
batch1_p1
pilot_p1
